.header {
    display: flex;
    align-items: center;
    background-color: rgba(58, 58, 58, 0.64);
    border-bottom: 1px solid rgb(230, 150, 23);
    width: 100vw;
    height: 20vh;
  }
  
  .image{
    height: 18vh;
    border-radius: 100px;
    margin-left: 5vh;
  }
  
  .text{
    margin-left: 5vh;
    color: white;
    font-size: 5vh;
  }
  
  .signature {
    margin-left: 40vw;
    height: 15vh;
  }