.sidebar {
    height: 200px;
    width: 8vw;
    min-width: 120px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(54, 54, 54);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 40vh;
    border-right: 1px solid rgb(230, 150, 23) ;
  }
  
  .sidebar h2 {
    padding: 0 25px;
    color: white;
    padding-bottom: 2vh;
    padding-top: 1vh;
  }
  
  .sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .sidebar ul li {
    padding: 8px 25px;
    text-align: left;
    padding-bottom: 1.5vh;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar ul li a:hover {
    color: rgb(228, 132, 23);
  }
  