.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    background-image: url('/bg.jpg');
  }

.data {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  align-items: center;
  height: 60vh;
}

.datacontainer {
  display: flex;
}

.form {
  margin-top: 5vh;
  width: 30vw;
}