.fullScreenBackground {
  background: url('/3.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.contactForm {
  width: 30vw;
  min-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff21;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 5vh;
  height: 50vh;
}


.formGroup {
  margin-bottom: 15px;
  margin-top: 20px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.formGroup textarea {
  height: 100px;
  resize: vertical;
}

.submitButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #e3940c;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
}

.submitButton:hover {
  background-color: #e3ad39;
}

.gracias {
  display: flex;
  justify-content: center;
  margin-top: 1vh;
}